/*
################
VARIABLES
################
*/

$color-bg: #282c34;
$color-dark-blue: #1f3a52;
$color-turquoise: #41a186;
$color-grass: #8cca6e;
$color-lime: #d3f689;

$global-border-radius: 5px;

/*
################
BROWER DEFAULT OVERRIDES
################
*/

input, select {
  -webkit-appearance: none;
  box-shadow: none !important;
}

:-webkit-autofill {
  color: #fff !important;
}

a:hover {
  background-color: rgba(white,0.4);
  transform: scale(1.015);
}


ul {
  list-style-type: none;
}


input {
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 1rem;
  outline: none;

  &::placeholder {
    color: lightgray;
  }
}

button {
  cursor: pointer;

  &:hover {
    background-color: rgba(white,0.1);
    transform: scale(1.015);
  }
}

.btn-crud {
  background-color: black;
  border: none;
  border-radius: $global-border-radius;
  bottom: -4rem;
  color: white;
  display: inline-block;
  float: right;
  font-weight: 600;
  margin: 0.25rem;
  padding: 0.25rem;
  position: relative;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(white,0.4);
    transform: scale(1.015);
  }
}

/*
################
PAGE STRUCTURES
################
*/

.app-nav {
  display: flex;
  flex-wrap: wrap;
}

.app-body {
  align-items: center;
  background-color: $color-bg;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.app-body-header {
  border-bottom: 5px solid $color-turquoise;
}

.app-link {
  -moz-box-shadow: 11px 10px 4px -8px rgba(0,0,0,0.75);

  // shadow:
  -webkit-box-shadow: 11px 10px 4px -8px rgba(0,0,0,0.75);
  border-radius: $global-border-radius;
  box-shadow: 11px 10px 4px -8px rgba(0,0,0,0.75);
  color: #282828;
  display: inline-block;
  font-size: 1.75rem;
  font-weight: 600;
  height: 10rem;
  margin: 0.25rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease-in-out;
  width: 15rem;

  p {
    background-color: inherit;
    background-color: rgba(white,0.15);
    border-radius: $global-border-radius;
    font-size: 1rem;
    font-weight: 400;
    height: 5rem;
    margin-top: 1.25rem;
    padding: 0.5rem;
    text-align: left;
  }

  &:hover {
    background-color: rgba(white,0.4);
    transform: scale(1.015);
    .action {
      border-bottom: 1px solid #282828;
    }
  }
}

.app-container {
  border-radius: $global-border-radius;
  display: inline-block;
  display: block;
  height: 100%;
  padding: 0.5rem;
  position: relative;
  width: 90%;

  h2 {
    display: block;
    margin-left: 0.5rem;
    margin-top: 0rem;
    padding-top: 0.25rem;
  }
}

/*
################
HEADER
################
*/

.app-header {
  background-color: $color-bg;
  border-bottom: 1px solid $color-turquoise;
  flex-direction: row;
  height: 4rem;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 999;

  a {
    font-size: 0;
  }
}

.app-header-logo {
  background: url('./logo.svg') no-repeat;
  float: left;
  height: 3.5rem;
  margin-left: 1rem;
  position: relative;
  top: 0.5rem;
  width: 3.5rem;
}

// header user settings
.app-header-user {
  background-color: $color-turquoise;
  border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  float: right;
  height: 3rem;
  margin-right: 1rem;
  margin-top: 0.4rem;
  position: relative;
  width: 3rem;

  &::before {
    color: white;
    content: 'A';
    font-size: 1.75rem;
    font-weight: 300;

    position: absolute;
    right: 0.9rem;
    text-align: center;
    top: 0.4rem;
  }
}

/*
################
SEARCH
################
*/

.search {
  background-color: #282828;
  border-radius: $global-border-radius;
  color: white;
  overflow: hidden;

  input {
    background: none;
    height: 100%;
    width: 80%;
  }

  button {
    background-color: black;
    border: none;
    border-radius: $global-border-radius;
    color: white;
    display: inline-block;
    float: right;
    font-size: 2rem;
    height: 100%;
    text-transform: uppercase;
    width: 4rem;
  }
}

.search-small {
  border: 2px solid gray;
  display: none;
  float: right;
  height: 50%;
  margin: 0.85rem 6rem 0.85rem 0;
  width: 10rem;

  input {
    font-size: 1.25rem;
  }
}

.search-large {
  border: 5px solid gray;
  height: 2.5rem;
  width: 30rem;

  input {
    font-size: 2rem;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.search-employees-view {
  float: right;
}

/*
################
EMPLOYEES VIEW
################
*/

.employees {
  background-color: transparent;
  border-radius: $global-border-radius;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
  width: 100%;
}

.employee {
  -moz-box-shadow: 11px 10px 4px -8px rgba(0,0,0,0.75);

  // shadow:
  -webkit-box-shadow: 11px 10px 4px -8px rgba(0,0,0,0.75);
  background-color: #282828;
  border-radius: $global-border-radius;
  box-shadow: 11px 10px 4px -8px rgba(0,0,0,0.75);

  color: white;
  display: inline-block;
  height: 24rem;
  margin: 0.5rem;
  width: 18rem;


  input, select {
    background: transparent;
    border: 2px solid gray;
    border-radius: $global-border-radius;
    color: white;
    height: 1rem;
    margin: 0.5rem;
    padding: 0.3rem;
    width: 90%;

    &:focus {
      border: 2px solid $color-turquoise;
    }
  }

  select {
    // Specificity, target select height to match input style
    height: 1.8rem;
    margin-bottom: 0.4rem;
    width: 94%;
  }
}

.prototype {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;

  &::before {
    border: 1px  solid $color-turquoise;
    border-radius: 50%;
    color: white;
    content: '+';
    display: block;
    font-size: 1.75rem;
    font-size: 8rem;
    font-weight: 800;
    height: 10rem;
    left: 4rem;
    position: relative;
    text-align: center;
    top: 3rem;
    width: 10rem;
  }

  p {
    margin-top: 4rem;
  }

  &:hover {
    background: rgba(white,0.1);
  }
}

.employee-image {

  border: 1px solid $color-turquoise;
  border-radius: 50%;
  left: 5rem;
  position: relative;
  top: 0.5rem;
  width: 8rem;

}

.employee-details {
  border-top: 1px solid $color-turquoise;
  bottom: -0.75rem;
  display: block;
  font-size: 0.75rem;
  height: 9rem;
  left: 0;
  margin-top: 0.5rem;
  position: relative;
  text-align: center;
  width: 18rem;

}

.employee-name {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
}

.employee-detail {
  display: block;
  font-size: 0.85rem;
  margin: 0.25rem;
}

.create {
  bottom : -7.7rem;
}

.no-employee-msg {
  display: block;
  height: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
}

/*
################
LOCATIONS VIEW
################
*/

.location {
  -moz-box-shadow: 11px 10px 4px -8px rgba(0,0,0,0.75);

  // shadow:
  -webkit-box-shadow: 11px 10px 4px -8px rgba(0,0,0,0.75);
  background-color: #282828;
  border-radius: $global-border-radius;
  box-shadow: 11px 10px 4px -8px rgba(0,0,0,0.75);

  color: white;
  display: inline-block;
  height: 24rem;
  margin: 0.5rem;
  text-align: center;
  width: 18rem;

  img {
    height: 10rem;
    width: 18rem;
  }
}

.location-detail {
  font-size: 0.85rem;
  padding: 0.75rem;
}

/*
################
DEPARTMENT VIEW
################
*/

.department {
  display: block;
  width: 100%;
}

/*
################
CLASSIFIED UTILITIES
################
*/

.hide {
  display: none;
}

.colorTurq {
  color: $color-turquoise;
}

.bgTurq {
    background-color: $color-turquoise;
}

.colorGrass {
  color: $color-grass;
}

.bgGrass {
  background-color: $color-grass;
}

.colorLime {
  color: $color-lime;
}

.bgLime {
  background-color: $color-lime;
}

.font-bold {
  font-weight: 600;
}

.list-search-wrap {
  float: right;
  position: relative;
  top: -4rem;
}
